<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
            
    body
        h2 Confirma tu Cuenta Uptask
        p Ya estas casi inscrito, solo presiona el siguiente boton
        a(href=`${confirmaUrl}`) Ir a Confirmar Cuenta
        p Si no puedes acceder a este enlace, visita #{confirmaUrl}
        p Si no solicitaste este e-mail, puedes ignorar este mensaje